.steps{
	margin:25px auto;
	padding: 25px;
	width:80%;
	display:none;
}

button{
	color:black;
	border-radius: 5px;
	border-color: black;
	margin: 25px auto;
	display:block;
	cursor: pointer;
	width:80px;
	height:30px;
	font-weight: bold; 
}

form{
	margin:0 auto;
}

.visible{
	display:block;
}