.steps{
	margin:25px auto;
	padding: 25px;
	width:80%;
	display:none;
}

button{
	color:blue;
	border-radius: 5px;
	border-color: black;
	margin-top: 25px;
	padding:12px;
	cursor: pointer;
	float: right;
}

form{
	margin:0 auto;
}

.visible{
	display:block;
}